<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/styles/bootstrap.min.css">
	<link rel="stylesheet" href="/styles/helpers.css">
	<link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
</head>

<body>
	<!-- Navbar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">the<span class="text-bold">stuff</span>of<span class="text-bold">nightmares</span></a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#">Highest Rated</a></li>
					<li><a href="#">Recently Uploaded</a></li>
					<li><a href="#">Gallery</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>My Account</li>
					<li>Logout</li>
			</div>
		</div>
	</nav>
	<!-- Body -->
	<%- body %>
	<!-- End body -->
</body>

<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<% for (var i = 0; i < locals.scripts.html.length; ++i) { %>
	<script src="<%= locals.scripts.html[i] %>"></script>
<% } %>

</html>